<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CV 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Curriculum Vitae</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>VARGAS ALBÁN ERICK OMAR</ion-card-title>
    </ion-card-header>
    <img src="https://i.ibb.co/hWXkXfT/Foto-CV.png">   
    <ion-card-content>
      Cargo: Pasante pre - profesional
    </ion-card-content>
  </ion-card>

</ion-content>
