<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formación Académica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formación Académica</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.ibb.co/3sJJJKn/download.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Preparatoria</h2>
        <h3>Colegio 
          Técnico Industrial Miguel de Santiago</h3>
        <p>Bachiller Técnico en Electrónica de Consumo
          </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Escudo_de_la_Escuela_Polit%C3%A9cnica_Nacional.png">
      </ion-avatar>
      <ion-label>
        <h2>Estudios superiores</h2>
        <h3>Escuela Politécnica Nacional</h3>
        <p>Tecnólogo en Análisis de Sistemas Informáticos </p>
      </ion-label>
    </ion-item>

  </ion-list>



  <ion-list-header>Conocimientos: </ion-list-header>

        <ion-chip>
          <ion-label>Windows</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Linux</ion-label>
        </ion-chip>
  
        <p>
          <ion-chip color="primary">
            <ion-label>C++</ion-label>
          </ion-chip>
          <ion-chip color="secondary">
            <ion-label>Java</ion-label>
          </ion-chip>
          <ion-chip color="tertiary">
            <ion-label>Python</ion-label>
          </ion-chip>
          <ion-chip color="success">
            <ion-label>C#</ion-label>
          </ion-chip>
          <ion-chip color="warning">
            <ion-label>Cisco packet tracer</ion-label>
          </ion-chip>
          <ion-chip color="danger">
            <ion-label>BDD relacionales y no relacionales</ion-label>
          </ion-chip>
        
          
  <ion-list-header>Cursos Adicionales: </ion-list-header>
       
          
        <ion-list>
          <ion-item>
            <ion-label>CEC-EPN | Idioma extranjero (Inglés Académico 2)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Kito Ryu Judo Club | Cinturón café judo</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Escuela de conducción Aneta | Licencia no professional tipo b </ion-label>
          </ion-item>
        
        </ion-list>
        

</ion-content>